body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

#main {
  max-width: 800px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

#title {
  font-size: 32px;
  font-weight: bold;
  color: #e4ef40;
}

#img-div {
  margin-top: 20px;
}

#image {
  max-width: 100%;
  height: auto;
}

#img-caption {
  margin-top: 10px;
  font-size: 14px;
  color: #666666;
}

#tribute-info {
  margin-top: 20px;
  text-align: left;
}

#headline {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  text-align: center;
}

ul {
  margin-top: 10px;
  padding-left: 20px;
  text-align: left;
}

li {
  margin-bottom: 8px;
  color: #aaa5a5;
}
li:hover {
  margin-bottom: 8px;
  color: #ebe409;
}
strong {
  color: #ffffff;
}
strong:hover {
  color: #45dd12;
}

#tribute-link {
  justify-content: center;
  align-items: center;
  display: flex;
  margin-top: 20px;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  color: #e4ef40;
}

#tribute-link:hover {
  color: #ebe409;
  background-color: #45dd12;
  margin: 10px;
  height: 1.5rem;
}
